@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Content */
.first-section {
    background-color: #1F2937;
    display: flex;
    padding: 64px 300px;
}

.subheader-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.main-title {
    font-weight: bolder;
    font-size: 48px;
}

.third-section {
    background-color: #E5E7EB;
}


