@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
}

/* Header */
.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Content */
.first-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 64px 300px;
    gap: 64px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    gap: 8px;
}

.hero-title {
    font-weight: bolder;
    font-size: 48px;
}

.text {
    color: #E5E7EB;
}

.placeholder {
    background-color: #6d747d;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 300px 80px;
}

.info-content {
    text-align: center;
    display: flex;
    gap: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 8px;
}

.box {
    border: 5px solid #3882F6;
    border-radius: 8px;
    width: 175px;
    height: 175px;
}

.info .text {
    color: #1F2937;
}

.third-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 300px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.fourth-section {
    display: flex;
}

